#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.link {
  text-decoration: none;
  padding: 10px;
  color: blue;
  transition: color 500ms ease-in-out;
}

.active {
  color: red;
}
main {
  display: flex;
  justify-content: end;
}
